:root {
  --colorOrange: #eb6c4c;
  --colorBlue: rgba(52, 72, 99, 1);
  --colorBG: rgba(245, 235, 228, 1);
  --colorLightBlue: rgba(155, 195, 218, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorBG);
}
.sideBar {
  position: fixed;
  top: 30%;
  left: 2%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  z-index: 100;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  width: 90px;
}
.sideBar a {
  display: block;
  cursor: pointer;
}
.sideBar a:hover {
  transform: scale(1.1);
}
.sideBar a:active {
  transform: scale(0.9);
}
.topBar {
  background-color: var(--colorBG);
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    img {
      width: 80px;
    }
  }
  #weatherContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    .area {
      border-radius: 50px;
      padding: 2px 1vw 2px 2vw;
      border: 3px solid var(--colorOrange);
      color: var(--colorOrange);
      font-size: 1.5rem;
    }
    p {
      padding: 5px;
      font-weight: bold;
      font-size: 1.4rem;
      color: var(--colorOrange);
      text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
    }
  }
  #logIn {
    border: none;
    background-color: var(--colorOrange);
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 1.5rem;
    margin-right: 40px;
  }
  #logIn:hover {
    transform: scale(1.1);
  }
  #logIn:active {
    transform: scale(0.9);
  }
}
div.container {
  // height: 800px;
  padding-bottom: 30px;
  width: 87vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(92, 68, 53, 0.29);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin: 110px 0 50px 80px;
  .month {
    width: 80vw;
    // height: 10vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10px;
    color: var(--colorBlue);
    .prevButton,
    .nextButton {
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      width: 40px;
      height: 40px;
      background-color: var(--colorBlue);
    }
    .prevButton:hover,
    .nextButton:hover {
      transform: scale(1.1);
    }
    .prevButton:active,
    .nextButton:active {
      transform: scale(0.8);
    }
  }
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    .left {
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      .calendar {
        width: 48vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 2px;
        gap: 10px;
        background: #f5ebe4;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        .weekdays {
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0px;
          .week {
            justify-content: center;
            font-weight: bold;
            font-size: 1.2rem;
            color: var(--colorBlue);
          }
        }
        .days {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 0px 5px;
          .day {
            width: calc(100% / 7);
            height: 10vh;
            min-height: 60px;
            display: flex;
            justify-content: center;
            border: 1px solid rgba(0, 0, 0, 0.119);
            padding-top: 10px;
            border-radius: 5px;
            font-size: 1rem;
          }
          .prev,
          .next {
            color: gray;
          }
          .today {
            position: relative;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            padding-top: 10px;
            z-index: 1;
          }
          .today::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 50px;
            height: 50px;
            top: 0px;
            background-color: var(--colorBlue);
            font-size: 1.2rem;
            border-radius: 50%;
          }
          .active {
            position: relative;
            color: white;
            z-index: 1;
          }
          .active::before {
            content: "";
            background-color: rgba(92, 68, 53, 0.29);
            position: absolute;
            top: -1px;
            border-radius: 3px;
            z-index: -1;
            width: 102%;
            height: 10vh;
          }
        }
      }

      .appointment {
        position: relative;
      }
      .appointment::after {
        content: "";
        position: absolute;
        background-color: var(--colorOrange);
        width: 55%;
        height: 12px;
        bottom: 10px;
        border-radius: 10px;
      }
      .day:hover {
        cursor: pointer;
        background-color: var(--colorBlue);
        color: white;
      }
      .goto {
        height: 5vh;
        width: 48vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 3vw;
        background: #f5ebe4;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        .gotoDate {
          .dateInput {
            padding: 5px;
            border: 1px solid orange;
            border-radius: 5px;
            border: none;
            background: #d9d9d9;
            border-radius: 40px;
            font-size: 1rem;
          }
          .gotoButton {
            padding: 5px 1.2vw;
            color: white;
            border: none;
            font-size: 1rem;
            background: var(--colorOrange);
            border-radius: 40px;
          }
        }
        .todayButton {
          padding: 5px 1.2vw;
          color: white;
          border: none;
          font-size: 1rem;
          background: var(--colorOrange);
          border-radius: 40px;
        }
        .todayButton:hover,
        .gotoButton:hover {
          transform: scale(1.1);
          background-color: var(--colorBlue);
        }
        .todayButton:active,
        .gotoButton:active {
          transform: scale(0.9);
        }
      }
    }
    .right {
      width: 30vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .todayDate {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--colorBlue);
        .eventDay {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .eventDate {
          font-size: 1.2rem;
          font-weight: bold;
          color: gray;
        }
      }
      .eventsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        .event {
          width: 100%;
          background: linear-gradient(
            92.9deg,
            #f5ebe4 1.02%,
            rgba(245, 235, 228, 0) 100.03%
          );
          border-radius: 54px;
          justify-content: space-around;
          margin-bottom: 10px;
          padding: 8px 0 8px 10%;
          .title {
            display: flex;
            align-items: center;
            gap: 15px;
            h3 {
              padding: 3px;
            }
          }
          .eventTime {
            color: gray;
          }
        }
      }
      .event:hover {
        background: linear-gradient(
          92.9deg,
          rgba(52, 72, 99, 1),
          rgba(52, 72, 99, 0.7)
        );
        color: white;
      }
      .noEvent {
        h2 {
          padding: 8px;
        }
      }
    }
    .addEventContainer {
      width: 28%;
      position: absolute;
      background-color: var(--colorBG);
      bottom: 50px;
      border-radius: 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    .active {
      max-height: 300px;
      padding: 20px;
    }
    .addEventHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      color: var(--colorBlue);
      font-size: 1.2rem;
    }
    .close {
      cursor: pointer;
    }
    .addEventBody {
      .addEventInput {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 5px 30px;
        input {
          border: none;
          border-bottom: 1px solid rgb(128, 128, 128, 0.3);
          padding: 5px;
          background-color: var(--colorBG);
          width: 85%;
          font-size: 1rem;
        }
        input:hover {
          border-bottom: 1px solid gray;
        }
        input:focus {
          border-bottom: 1px solid black;
          outline: none;
        }
      }
      .eventTimeTo {
        margin-bottom: 5px;
      }
    }
    .addEventFooter {
      padding-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      .addEventBtn {
        border: none;
        background-color: var(--colorOrange);
        color: white;
        padding: 7px 10px;
        border-radius: 20px;
        font-size: 1rem;
        margin: 20px;
      }
      .addEventBtn:hover {
        background-color: var(--colorBlue);
        transform: scale(1.1);
      }
      .addEventBtn:active {
        transform: scale(0.9);
      }
    }
    .addOnBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--colorOrange);
      border: 2px solid var(--colorOrange);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      bottom: 65px;
      right: 90px;
      opacity: 0.6;
    }
  }
}
.signInForm {
  background-color: rgba(53, 73, 100, 0.902);
  padding: 25px 10px;
  border-radius: 15px;
  position: fixed;
  top: 30%;
  width: 500px;
  height: 500px;
  color: white;
  border: 2px solid var(--colorBG);
  .signInIcon {
    position: absolute;
    top: -60px;
    left: 180px;
    background-color: var(--colorBG);
    border-radius: 50%;
    padding: 9px;
    border: 5px solid var(--colorBlue);
  }
  .signInContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .formTitle {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      font-size: 3rem;
    }
    .formContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      input {
        width: 80%;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        font-size: 1.2rem;
      }
    }
    .signInBtn {
      display: flex;
      padding: 8px 20px;
      border-radius: 15px;
      border: none;
      font-size: 1.2rem;
      color: var(--colorBlue);
    }
    .signInBtn:hover {
      background-color: var(--colorOrange);
      color: white;
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: var(--colorBlue);
  }
  .topBar {
    .icon {
      gap: 0px;
      padding-left: 25px;
    }
    #weatherContainer {
      gap: 8px;
      margin-left: 25px;
    }
  }
  .sideBar {
    left: 1%;
  }
  div.container {
    flex-direction: column;
    background: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 110px 0 100px 80px;
    .month {
      color: var(--colorBG);
      .prevButton,
      .nextButton {
        background-color: var(--colorOrange);
      }
    }
    .content {
      flex-direction: column;
      align-items: center;
      .left {
        width: 50vw;
        flex-direction: column;
        gap: 10px;
        .calendar {
          width: 70vw;
          background: #f5ebe4;
        }
        .goto {
          width: 70vw;
        }
      }
      .right {
        width: 70vw;
        background-color: var(--colorBG);
        border-radius: 30px;
        height: 500px;
        .todayDate {
          color: var(--colorBG);
          padding-top: 20px;
          .eventDay {
            font-weight: bold;
            color: var(--colorBlue);
          }
          .eventDate {
            font-weight: bold;
            color: rgb(110, 110, 110);
          }
        }
        .eventsContainer {
          .event {
            width: 90%;
            background: linear-gradient(
              92.9deg,
              #f5ebe4 1.02%,
              rgba(245, 235, 228, 0) 100.03%
            );
          }
        }
        .event:hover {
          background: linear-gradient(
            92.9deg,
            rgba(52, 72, 99, 1),
            rgba(52, 72, 99, 0.7)
          );
          color: white;
        }
      }
      .addEventContainer {
        width: 50%;
        background-color: var(--colorBlue);
        margin-bottom: 10px;
      }
      .addEventHeader {
        color: var(--colorBG);
      }
      .addEventBody {
        .addEventInput {
          input {
            border-radius: 15px;
            padding-left: 15px;
          }
        }
      }
      .close {
        background-color: var(--colorBG);
        border-radius: 50%;
        padding: 5px;
      }
      .addEventFooter {
        .addEventBtn:hover {
          background-color: var(--colorBG);
          color: var(--colorOrange);
          border: 3px solid var(--colorOrange);
        }
      }
      .addOnBtn {
        top: -80px;
        right: -30vw;
      }
    }
  }
  .signInForm {
    z-index: 10;
    padding: 25px 10px;
    width: 500px;
    height: 480px;
    .signInIcon {
      top: -90px;
      left: 170px;
    }
    .signInContent {
      .formContent {
        width: 100%;
        padding: 20px;
        input {
          border-radius: 10px;
        }
      }
      .signInBtn {
        padding: 8px 20px;
        color: white;
        background-color: var(--colorBlue);
      }
    }
  }
}
